@font-face {
    font-family: 'Pluto Sans';
    src: url('fonts/PlutoSansRegular.eot');
    src: url('fonts/PlutoSansRegular.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlutoSansRegular.woff') format('woff'),
        url('fonts/PlutoSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans';
    src: url('fonts/PlutoSansLight.eot');
    src: url('fonts/PlutoSansLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlutoSansLight.woff') format('woff'),
        url('fonts/PlutoSansLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans';
    src: url('fonts/PlutoSansBold.eot');
    src: url('fonts/PlutoSansBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlutoSansBold.woff') format('woff'),
        url('fonts/PlutoSansBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
}

a {
    color: chocolate;
}

a:hover,
a:focus,
a:active {
    color: hsl(25, 85%, 66%);
    text-decoration: none;

}

body {
    position: relative;
	background-color: #0a0a0a;
	color: white;
	font-family: 'Pluto Sans', sans-serif;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
    font-size: 14px;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h3 {
    font-weight: 700
}

h2 {
    font-weight: 500;
}
h2 {
    text-transform: uppercase;
    font-size: 16px;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar {
    background: #181818;
}

.logo-big {
    display: inline-block;
	margin: 30px;
    max-width: 200px;
}

.main-wrapper {
    position: relative;
}

.bg-div {
    background-image: url("img/foto1.jpg");
    background-position: center;
    background-size: cover;
}

.home-item {
    border: 1px solid rgba(52,52,52,.3);
    height: 340px;
}

.item1 {
    background: #fafafa;
    color: #402a3f;
    & > div {
        width: 100%;
        padding: 15px;
    }
}
li button {
    margin-bottom: 10px;
    border-radius: 0!important;
    cursor: pointer;
}

.linha {
    transform: rotateZ(-3deg);
    width: 125px;
    height: 5px;
    background:  rgba(52,52,52,.3);
    margin: 10px auto 30px;
}

.item2 {
    background: chocolate;
    color: white;
    & > div {
        width: 100%;
        padding: 15px;
    }
}
.item3 {
    background:  rgba(10,10,10,.5);
    color: white;
    & > div {
        width: 100%;
        padding: 15px;
    }
}
.item4 {
    background: #000;
    color: white;
    & > div {
        width: 100%;
        padding: 15px;
    }
}

.open {
    display: block!important;
}

.team-member {
    display: none;
    min-height: 340px;
    bottom: 0;
    right: 0;
    width: 50%;
    position: absolute;
    background: #121212;
    border: 1px solid rgba(52,52,52,.3);
    
    color: white;
    transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    padding: 30px;
    .oi-x   {
        position: absolute;
        top: -40px;
        left: -25px;
        font-size: 24px;
        color: chocolate;
    }
    h1 small {
        opacity: .5;
    }
}

footer {
    background: black;
    padding-top: 30px;
    padding-bottom: 15px;
    li {
        margin: 10px!important;
    }
    span {
        margin: 10px;
        display: inline-block;
    }

}

.sobre .home-item {
    height: 100px;
}

.sobre-texto p {
    max-width: 600px;
    margin: 15px auto 30px;
    font-size: 16px;
}
