@font-face {
  font-family: 'Icons';
  src: url('fonts/open-iconic.eot');
  src: url('fonts/open-iconic.eot?#iconic-sm') format('embedded-opentype'), 
        url('fonts/open-iconic.woff') format('woff'), 
        url('fonts/open-iconic.ttf') format('truetype'), 
        url('fonts/open-iconic.svg#iconic-sm') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import 'bootstrap';
@import 'iconic';

$cor1: #2b4046;
$cor2: chocolate;

@font-face {
    font-family: 'Pluto Sans';
    src: url('fonts/PlutoSansRegular.eot');
    src: url('fonts/PlutoSansRegular.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlutoSansRegular.woff') format('woff'),
        url('fonts/PlutoSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans';
    src: url('fonts/PlutoSansLight.eot');
    src: url('fonts/PlutoSansLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlutoSansLight.woff') format('woff'),
        url('fonts/PlutoSansLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans';
    src: url('fonts/PlutoSansBold.eot');
    src: url('fonts/PlutoSansBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlutoSansBold.woff') format('woff'),
        url('fonts/PlutoSansBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
}

a {
    color: $cor2;
}

a:hover,
a:focus,
a:active {
    color: hsl(25, 85%, 66%);
    text-decoration: none;

}

body {
    position: relative;
	background-color: #0a0a0a;
	color: white;
	font-family: 'Pluto Sans', sans-serif;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
    font-size: 14px;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h3 {
    font-weight: 700
}

h2 {
    font-weight: 500;
}
h2 {
    text-transform: uppercase;
    font-size: 16px;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-wrapper {
    position: relative;
}

.bg-div {
    background-image: url("img/foto1.jpg");
    background-position: center;
    background-size: cover;
}

.home-item {
    border: 1px solid rgba(52,52,52,.3);
    height: 340px;
}

.item1 {
    background: #fafafa;
    color: $cor1;
    & > div {
        width: 100%;
        padding: 15px;
    }
}
li button {
    margin-bottom: 10px;
    border-radius: 0!important;
    cursor: pointer;
}

.btn-outline-light.active,
.btn-outline-light.focus   {

    color: $cor1;
    background-color: #f8f9fa;
    border-color: transparent;
}

.linha {
    transform: rotateZ(-3deg);
    width: 125px;
    height: 5px;
    background:  rgba(52,52,52,.3);
    margin: 10px auto 30px;
}

.item2 {
    background: $cor1;
    color: white;
    & > div {
        width: 100%;
        padding: 15px;
    }
}
.item3 {
    background:  rgba(10,10,10,.5);
    color: white;
    & > div {
        width: 100%;
        padding: 15px;
    }
}
.item4 {
    background: #000;
    color: white;
    & > div {
        width: 100%;
        padding: 15px;
    }
}

.open {
    display: block!important;
}

.team-member {
    display: none;
    height: 680px;
    top: 340px;
    bottom: 0;
    left: 0;
    width: 50%;
    position: absolute;
    background: #0a0a0a;
    border: 1px solid rgba(52,52,52,.3);

    color: white;
    transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    padding: 30px;
    .oi-x   {
        position: absolute;
        top: -40px;
        right: -25px;
        font-size: 24px;
        color: $cor2;
        text-shadow: 1px 0px 1px rgba(0,0,0,.5);
    }
    h1 small {
        opacity: .5;
    }
}

@media all and (max-width: 1199px) {
    .team-member {
        top: 340px;
        bottom: initial;
        left: 0;
        width: 66.6667%;
        .oi-x   {
            right: -25px;
            left: initial;
        }
    }
}
@media all and (max-width: 767px) {
    .team-member {
        top: 680px!important;
        bottom: initial;
        left: 0!important;
        width: 100%;
        .oi-x   {
            right: 50%!important;
            left: initial;
            transform: translate(50%, 0)
        }
    }
}
@media all and (max-width: 575px) {
    .team-member {
        height: auto;
        z-index: 9999;
        .oi-x   {
            position: relative;
            left: 50%;
            top: -10px;
            transform: translate(-50%,0);
        }
    }
}

footer {
    background: black;
    padding-top: 30px;
    padding-bottom: 15px;
    li {
        margin: 10px!important;
    }
    span {
        margin: 10px;
        display: inline-block;
    }
    @media all and (max-width: 767px) {
        ul {
            text-align: center;
            width: 100%;
        }
        li {
            display: block!important;
            float: none;
        }
    }

}

.sobre .home-item {
    height: 100px;
}

.sobre-texto p {
    max-width: 600px;
    margin: 15px auto 30px;
    font-size: 16px;
}
